<i class="material-icons circle green">person</i>
<form ng-submit="ctrl.addContactFormHandler()" id="add-contact">
    <div class="input-field">
        <input ng-model="ctrl.fName" id="first_name" type="text" auto-focus>
        <label focus-if for="first_name" data-error="wrong" data-success="right">first name</label>
    </div>
    <div class="input-field">
        <input ng-model="ctrl.lName" id="last_name" type="text">
        <label for="last_name" data-error="wrong" data-success="right">last name</label>
    </div>
    <div class="input-field">
        <input ng-model="ctrl.number" id="number" type="text">
        <label for="number" data-error="wrong" data-success="right">phone number</label>
    </div>
    <div class="input-btnz">
        <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">
            Submit
            <i class="material-icons right">send</i>
        </button>
        <a ng-click="ctrl.hideForm()" id="cancel-input" class="waves-effect waves-red btn-flat">
            cancel
        </a>
    </div>
</form>